<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Commonplace Book: <%= yield(:title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Commonplace Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Highlights', highlights_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Favorites', '/favorites', class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Tags', tags_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Sources', sources_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Authors', authors_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Import', '/import', class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Settings', '/settings', class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Logout', '/users/sign_out', method: :delete, class: 'nav-link' %></li>
            <li class="nav-item search">
              <%= form_with url: highlights_search_path, method: 'get', local: true, class: 'search-form' do |f| %>
              <%= f.text_field :search, size: 10, value: params["search"] %>
              <%= f.select :model, options_for_select(["Highlights", "Sources", "Authors", "Tags"], params["model"]), include_blank: "All" %>
              <%= f.submit "Search" %>
            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if flash[:alert] %>
        <div class="flash alert badge badge-warning"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="flash notice badge badge-info"><%= flash[:notice] %></div>
      <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
