<%= form_with model: @source, local: true do |form| %>
 
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source.errors.count, "error") %> prohibited
        this source from being saved:
      </h2>
      <ul>
        <% @source.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author, :size => '20', :maxlength => '20', class: 'form-control' %>
  </p>

  <p>
    <%= form.label 'Type' %><br>
    <%= form.text_field :source_type, :size => '20', :maxlength => '20', class: 'form-control' %>
  </p>

  <p>
    <%= form.label :user %><br>
    <%= form.collection_select :user_id, User.order(:email),:id,:email, {include_blank: false}, {class: 'form-control'} %>
  </p>

  <p>
    <%= form.submit 'Save Source', {class: ['btn', 'btn-primary']} %>
    <%= form.button 'Back', {class: ['btn']} %>
  </p>
 
<% end %>
