<%= content_for(:title, 'Sources') %>
<h1>Sources</h1>

<%= link_to 'New source', new_source_path %> |
<%= link_to 'Home', welcome_index_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Type</th>
    <th>Operations</th>
  </tr>
 
  <% @sources.each do |source| %>
    <tr>
      <td><%= link_to source.title, source_path(source) %></td>
      <td><%= source.author %></td>
      <td><%= source.source_type %></td>
      <td>
        <%= link_to 'Edit', edit_source_path(source) %>
        <%= link_to 'Destroy', source_path(source),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
