<%= content_for(:title, 'Sources') %>
<h1>Sources</h1>

<%= link_to 'New source', new_source_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<table class="sources">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Type</th>
      <th>Operations</th>
    </tr>
  </thead>
 
  <% @sources.each do |source| %>
    <tr>
      <td><%= link_to source.title, source_path(source) %></td>
      <td><%= source.author %></td>
      <td><%= source.source_type %></td>
      <td class="operations">
        <%= link_to fa_icon('pencil'), edit_source_path(source), class: ['edit'] %>
        <%= link_to fa_icon('ban'), source_path(source),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: ['delete', 'gray'] %></td>
    </tr>
  <% end %>
</table>
