<%= content_for(:title, 'Sources') %>
<h1>Sources</h1>

<%= link_to 'New source', new_source_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :source_type %>
  <%= select_tag :source_type, options_from_collection_for_select(@source_types, 'source_type', 'source_type', params[:source_type]), include_blank: true %>
  <%= label_tag 'Sort' %>
  <%= select_tag 'sort', options_for_select([['Title', 'title'], ['Last Added', 'newest']], params[:sort]) %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<table class="sources">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="author">Author</th>
      <th class="source_type">Type</th>
      <th class="operations">Operations</th>
    </tr>
  </thead>
 
  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td class="title"><%= link_to source.title, source_path(source) %></td>
        <td class="author"><%= source.author %></td>
        <td class="source_type"><%= source.source_type %></td>
        <td class="operations">
          <%= link_to fa_icon('pencil'), edit_source_path(source), class: ['edit'] %>
          <%= link_to fa_icon('ban'), source_path(source),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: ['delete', 'gray'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
