<h1><%= @source.title %></h1>
 
<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Type:</strong>
  <%= @source.source_type %>
</p>

<%= render partial: 'highlights/highlights', locals: { highlights: @source.highlights, hide: ['source'] } %>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
