<%= content_for(:title, @source.title) %>
<h1><%= @source.title %></h1> 

<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Type:</strong>
  <%= @source.source_type %>
</p>

<%= link_to 'Edit Source', edit_source_path(@source), class: ['badge', 'badge-pill', 'badge-light'] %>
<%= link_to 'Add highlight', new_highlight_path(:source => @source.id), class: ['badge', 'badge-pill', 'badge-primary'] %>
<%= render partial: 'highlights/highlights', locals: { highlights: @highlights, hide: ['source'] } %>

