<%= content_for(:title, @source.title) %>
<h1><%= @source.title %></h1> 

<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Type:</strong>
  <%= @source.source_type %>
</p>

<%= link_to 'Edit Source', edit_source_path(@source), class: ['badge', 'badge-pill', 'badge-light'] %>
<%= link_to 'Add highlight', new_highlight_path(:source => @source.id), class: ['badge', 'badge-pill', 'badge-primary'] %>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :tag %>
  <%= select_tag :tag, options_from_collection_for_select(@tags, 'title', 'title', params[:tag]), include_blank: true, class: 'chosen-select', multiple: true %>
  <%= label_tag :favorite %>
  <%= check_box_tag :favorite, '1', params[:favorite] %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'highlights/highlights', locals: { highlights: @highlights, hide: ['source'] } %>

