<%= content_for(:title, @source.title) %>
<h1><%= @source.title %></h1> 

<p>
  <strong>Author:</strong>
  <%= @source.author %>
</p>

<p>
  <strong>Type:</strong>
  <%= @source.source_type %>
</p>

<%= link_to 'Edit Source', edit_source_path(@source) %> |
<%= link_to 'Add highlight', new_highlight_path(:source => @source.id) %>
<%= render partial: 'highlights/highlights', locals: { highlights: @source.highlights.sort_by(&:location), hide: ['source'] } %>

