<%= form_with model: @source, local: true do |form| %>

  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@source.errors.count, "error") %> prohibited
        this source from being saved:
      </h2>
      <ul>
        <% @source.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>

  <p>
    <%= form.label 'Authors' %><br/>
    <%= form.autocomplete_field :all_authors, '/sources/autocomplete_authors_name', 'data-delimiter' => ', ', 'data-auto-focus' => true, :fields => {:all_authors => '#all_authors'}, class: ['autocomplete', 'form-control'], id: 'all_authors' %>
  </p>

  <p>
    <%= form.label 'Type' %><br>
    <%= form.text_field :source_type, :size => '20', :maxlength => '20', class: 'form-control' %>
  </p>

  <p>
    <%= form.label 'Notes' %><br>
    <%= form.text_area :notes, size: '80x3', class: 'form-control' %>
  </p>

  <p>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </p>

  <p>
    <%= form.submit 'Save Source', {class: ['btn', 'btn-primary']} %>
    <%= form.button 'Back', {class: ['btn']} %>
  </p>

<% end %>
