<%= content_for(:title, @source.title) %>
<h1><%= @source.title %></h1>

<p>
  <%= link_to 'Edit Source', edit_source_path(@source), class: ['badge', 'badge-pill', 'badge-light'] %>
  <%= link_to 'Add Highlight', new_highlight_path(:source => @source.id), class: ['badge', 'badge-pill', 'badge-primary'] %>
</p>

<p class="favorites-highlights">
  <strong>Favorites / Highlights:</strong>
  <%= @favorites_count %> / <%= @highlights_count %>
</p>

<p class="author">
  <strong>Author(s):</strong>
  <%= print_authors(@source) %>
</p>

<p class="tags">
  <strong>Tags:</strong>
  <%= raw tag_links(@source.tags) %>
</p>

<p class="type">
  <strong>Type:</strong>
  <%= @source.source_type %>
</p>

<% if @source.notes %>
  <p class="notes">
    <strong>Notes:</strong>
    <p><%= simple_format @source.notes %></p>
  </p>
<% end %>

<% unless @source.file.blank? %>
  <div class="image">
    <strong>Image:</strong>
    <p><%= image_tag(@source.file_url) %></p>
  </div>
<% end %>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :tag %>
  <%= select_tag :tag, options_from_collection_for_select(@tags, 'title', 'title', params[:tag]), include_blank: true, class: 'chosen-select', multiple: true %>
  <%= label_tag :favorite %>
  <%= check_box_tag :favorite, '1', params[:favorite] %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'highlights/highlights', locals: { highlights: @highlights, hide: ['source', 'author'] } %>
