<% if !authors.empty? %>
  <table class="authors">
    <caption>Authors</caption>
    <thead>
      <tr>
        <th class="author">Author</th>
        <th class="tags">Tags</th>
        <th class="operations">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% authors.each do |author| %>
        <%
          # Bold matching search text.
          unless @search.blank?
            author.name = author.name.gsub(/#{@search}/i, '<b>\0</b>')
          end
        %>
        <tr class="author-<%= author.id %>">
          <td class="author"><%= link_to author.name.html_safe, author_path(author.id) %></td>
          <td class="tags"><%= raw tag_links(author.all_tags) %></td>
          <td class="operations">
            <%= link_to fa_icon('pencil'), edit_author_path(author), id: 'edit-author-' + author.id.to_s, class: ['edit'] %>
            <%= link_to fa_icon('book'), 'bear://x-callback-url/search?term=' + author.name, class: ['bear-author', 'gray'] %>
            <%= link_to fa_icon('ban'), author_path(author),
                  method: :delete,
                  data: { confirm: 'Are you sure that you want to delete ' + author.name + '?' },
                  id: 'delete-author-' + author.id.to_s,
                  class: ['delete', 'gray'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
