<%= form_with model: @author, local: true do |form| %>

  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@author.errors.count, "error") %> prohibited
        this author from being saved:
      </h2>
      <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag(:name) %><br/>
    <%= form.text_field :name, class: 'form-control', id: 'name' %>
  </div>

  <div>
    <%= label_tag(:tags) %><br/>
    <%= form.autocomplete_field :all_tags, '/tags/autocomplete_tags_title', 'data-delimiter' => ', ', 'data-auto-focus' => true, :fields => {:all_tags => '#all_tags'}, class: ['autocomplete', 'form-control'], id: 'all_tags' %>
  </div>

  <div>
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div>
    <%= form.submit 'Save Author', {class: ['btn', 'btn-primary']} %>
    <%= form.button 'Back', {class: ['btn']} %>
  </div>

<% end %>
