<%= content_for(:title, 'Authors') %>
<h1>Authors</h1>

<%= link_to 'New author', new_author_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag 'Sort' %>
  <%= select_tag 'sort', options_for_select([['Name', 'name'], ['Last Added', 'newest']], params[:sort]) %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'authors', locals: { authors: @authors } %>
