<%= content_for(:title, @author.name) %>
<h1><%= @author.name %></h1>

<p>
  <strong>Tags:</strong>
  <%= raw tag_links(@author.tags) %>
</p>

<p>
  <strong>Favorites / Highlights:</strong>
  <%= @favorites_count %> / <%= @highlights_count %>
</p>

<%= link_to 'Edit Author', edit_author_path(@author), class: ['badge', 'badge-pill', 'badge-light'] %>

<%= render partial: 'sources/sources', locals: { sources: @sources } %>
