<%= content_for(:title, 'Search Results') %>
<h1>Search Results</h1>

<% if @highlights.empty? && @sources.empty? && @authors.empty? && @tags.empty? %>
  No results found.
<% end %>

<%= render partial: 'highlights', locals: { highlights: @highlights } %>
<%= render partial: 'sources/sources', locals: { sources: @sources } %>
<%= render partial: 'authors/authors', locals: { authors: @authors } %>
<%= render partial: 'tags/tags', locals: { tags: @tags } %>
