<%= content_for(:title, 'Search Results') %>
<h1>Search Results</h1>

<% if @highlights.nil? && @sources.nil? && @authors.nil? && @tags.nil? %>
  <div>Please enter a search term.</div>
<% else %>
  <% if @highlights.empty? && @sources.empty? && @authors.empty? && @tags.empty? %>
    <div>No results found.</div>
  <% end %>

  <div>Try searching <%= link_to 'Bear App', 'bear://x-callback-url/search?term=' + params['search'] %>.</div>

  <%= render partial: 'highlights', locals: { highlights: @highlights, '@search': params['search'] } %>
  <%= render partial: 'sources/sources', locals: { sources: @sources, '@search': params['search'] } %>
  <%= render partial: 'authors/authors', locals: { authors: @authors, '@search': params['search'] } %>
  <%= render partial: 'tags/tags', locals: { tags: @tags, '@search': params['search'] } %>

<% end %>
