<%= content_for(:title, 'Tags') %>
<h1>Tags</h1>

<%= link_to 'New tag', new_tag_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<table>
  <tr>
    <th>Title</th>
    <th>Operations</th>
  </tr>
 
  <% @tags.each do |tag| %>
    <tr>
      <td>
        <%=
          link_to(
            raw(tag.title + ' ' + content_tag(:span, tag.count, class: ['badge', 'badge-pill', 'badge-light'])),
            tag_path(tag),
            class: ['badge', 'badge-pill', 'badge-success']
          )
        %>
      </td>
      <td>
        <%= link_to 'Edit', edit_tag_path(tag), class: ['badge', 'badge-pill', 'badge-light'] %>
        <%= link_to 'Destroy', tag_path(tag),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: ['badge', 'badge-pill', 'badge-danger'] %></td>
    </tr>
  <% end %>
</table>
