<%= content_for(:title, 'Tags') %>
<h1>Tags</h1>

<%= link_to 'New tag', new_tag_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<table class="tags">
  <thead>
    <tr>
      <th>Title</th>
      <th>Operations</th>
    </tr>
  </thead>
 
  <% @tags.each do |tag| %>
    <tr>
      <td>
        <%=
          link_to(
            raw(tag.title + ' ' + content_tag(:span, tag.count, class: ['badge', 'badge-pill', 'badge-light'])),
            tag_path(tag),
            class: ['badge', 'badge-pill', 'badge-success']
          )
        %>
      </td>
      <td class="operations">
        <%= link_to fa_icon('pencil'), edit_tag_path(tag), class: ['edit'] %>
        <%= link_to fa_icon('ban'), tag_path(tag),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: ['delete', 'gray'] %></td>
    </tr>
  <% end %>
</table>
