<%= content_for(:title, 'Tag: ' + @tag.title) %>
<h1><%= @tag.title %></h1>
 
<%= render partial: 'highlights/highlights', locals: { highlights: @tag.highlights } %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
