<%= content_for(:title, 'Tag: ' + @tag.title) %>
<h1><%= @tag.title %></h1>

<div>
  <%= link_to 'Search Bear', 'bear://x-callback-url/search?term=' + @tag.title, class: ['badge', 'badge-pill', 'badge-secondary'] %>
  <%= link_to 'Edit Tag', edit_tag_path(@tag), class: ['badge', 'badge-pill', 'badge-light'] %>
</div>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :favorite %>
  <%= check_box_tag :favorite, '1', params[:favorite] %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'sources/sources', locals: { sources: @sources } %>
<%= render partial: 'authors/authors', locals: { authors: @authors } %>
<%= render partial: 'highlights/highlights', locals: { highlights: @highlights } %>
