<%= content_for(:title, 'Import Highlights') %>
<h1>Import Highlights</h1>

<%= form_tag("/import", method: "post") do %>
  <p>Enter your Amazon credentials to retrieve highlights.</p>
  <p>
    <%= label_tag(:email, "Email:") %>
    <%= text_field_tag(:email) %>
  </p>

  <p>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
  </p>

  <p>
    <%= submit_tag("Import") %>
  </p>
<% end %>
