<%= form_with model: @highlight, local: true do |form| %>
 
  <% if @highlight.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@highlight.errors.count, "error") %> prohibited
        this highlight from being saved:
      </h2>
      <ul>
        <% @highlight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :highlight %><br>
    <%= form.text_area :highlight, size: "80x8" %>
  </p>

  <p>
    <%= form.label :note %><br>
    <%= form.text_area :note, size: "80x8" %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <% @tags.each do |t| %>
      <%= form.label t.title %>
      <%= form.check_box "tags[#{t.id}]", :checked => @highlight.tags.exists?(:id => t.id) %>
    <% end %>
  </p>

  <p>
    <%= form.label :user %><br>
    <%= form.collection_select :user_id, User.order(:username),:id,:username, include_blank: false %>
  </p>

  <p>
    <%= form.label :source %><br>
    <%= form.collection_select :source_id, Source.order(:title),:id,:title, include_blank: false %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>
