<%= form_with model: @highlight, local: true do |form| %>

  <% if @highlight.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@highlight.errors.count, "error") %> prohibited
        this highlight from being saved:
      </h2>
      <ul>
        <% @highlight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :highlight %><br>
    <%= form.text_area :highlight, size: "80x5", class: 'form-control', id: 'highlight' %>
  </div>

  <div class="form-group">
    <%= form.label :note %><br>
    <%= form.text_area :note, size: "80x3", class: 'form-control', id: 'note' %>
  </div>

  <div class="form-group">
    <%= form.label 'Tags' %><br/>
    <%= form.autocomplete_field :all_tags, '/highlights/autocomplete_tags_title', 'data-delimiter' => ', ', 'data-auto-focus' => true, :fields => {:all_tags => '#all_tags'}, class: ['autocomplete', 'form-control'], id: 'all_tags' %>
  </div>

  <div class="form-group">
    <%= form.label :source %><br>
    <%= form.collection_select :source_id, Source.by_user(current_user).order(:title), :id, :title, {selected: @source, include_blank: false}, {class: 'form-control', id: 'source'}  %>
  </div>

  <div class="form-group form-checkbox">
    <%= form.label :favorite %>
    <%= form.check_box :favorite, class: 'form-control', id: 'favorite' %>
  </div>

  <div class="form-group form-checkbox">
    <%= form.label :published %>
    <%= form.check_box :published, class: 'form-control', id: 'published' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save Highlight', {class: ['btn', 'btn-primary']} %>
    <%= form.button 'Back', {class: ['btn']} %>
  </div>

<% end %>
