<table class="table">
  <tr>
    <% if !defined?(hide) || !hide.include?('source') %>
      <th>Source</th>
    <% end %>
    <th>Highlight</th>
    <th>Note</th>
    <th>Location</th>
    <th>Tags</th>
    <th>Operations</th>
  </tr>
 
  <% highlights.each do |highlight| %>
    <tr>
      <% if !defined?(hide) || !hide.include?('source') %>
        <td><%= link_to highlight.source.title, source_path(highlight.source) %></td>
      <% end %>
      <td><%= highlight.highlight %></td>
      <td><%= highlight.note %></td>
      <td><%= highlight.location %></td>
      <td><%= raw tag_links(highlight.all_tags) %></td>
      <td>
        <%= link_to fa_icon('pencil'), edit_highlight_path(highlight), class: ['edit'] %>
        <% id = highlight.id.to_s %>
        <% if highlight.favorite %>
          <%= link_to fa_icon('heart'), '/highlights/' + id + '/unfavorite', id: 'favorite-' + id, class: ['favorite', 'red'], remote: true %>
        <% else %>
          <%= link_to fa_icon('heart'), '/highlights/' + id + '/favorite', id: 'favorite-' + id, class: ['favorite', 'gray'], remote: true %>
        <% end %>
        <% if highlight.published %>
          <%= link_to fa_icon('ban'), '/highlights/' + id + '/unpublish', id: 'publish-' + id, class: ['publish', 'gray'], remote: true %>
        <% else %>
          <%= link_to fa_icon('ban'), '/highlights/' + id + '/publish', id: 'publish-' + id, class: ['publish', 'red'], remote: true %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
