<%= content_for(:title, 'Deleted Highlights') %>
<h1>Deleted Highlights</h1>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :tag %>
  <%= select_tag :tag, options_from_collection_for_select(@tags, 'title', 'title', params[:tag]), include_blank: true, class: 'chosen-select', multiple: true %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'highlights', locals: { highlights: @highlights } %>
<%= will_paginate @highlights, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
