<%= content_for(:title, 'Highlights') %>
<h1>Favorites</h1>

<%= link_to 'New highlight', new_highlight_path, class: ['badge', 'badge-pill', 'badge-primary'] %>

<%= form_tag({}, :method => 'get', :class => 'filter-form') do %>
  <%= label_tag :tag %>
  <%= select_tag :tag, options_from_collection_for_select(@tags, 'title', 'title', params[:tag]), include_blank: true %>
  <%= submit_tag "Filter", :name => nil %>
<% end %>

<%= render partial: 'highlights', locals: { highlights: @highlights } %>
<%= will_paginate @highlights, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
