<h1>Listing highlights</h1>
<%= debug @books %> 
<%= link_to 'New highlight', new_highlight_path %>

<table>
  <tr>
    <th>Highlight</th>
    <th>Note</th>
    <th>Location</th>
    <th>Tags</th>
    <th>Operations</th>
  </tr>
 
  <% @highlights.each do |highlight| %>
    <tr>
      <td><%= highlight.highlight %></td>
      <td><%= highlight.note %></td>
      <td><%= highlight.location %></td>
      <td><% highlight.tags.each do |t| %>
        <%= t.title %>
      <% end %></td>
      <td><%= link_to 'Show', highlight_path(highlight) %>
        <%= link_to 'Edit', edit_highlight_path(highlight) %>
        <%= link_to 'Destroy', highlight_path(highlight),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
